/* CONTACT */
#contact {
  background: #000;
  padding: 20px;
  color: $primary;
  margin-top: 20px;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon i {
  font-size: 35px;
  margin-right: 30px;
  transition: 0.5s;
}
.social-icon i:hover {
  transform: translateY(-20px);
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* END CONTACT */
