/* MENU */
#menu-brands {
  padding-top: 20px;
}
.img-item {
  width: 25%;
  height: 200px;
  padding: 10px;
}
.img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.img-slider {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
}
.img-slider img {
  width: 60%;
  height: 400px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider-close {
  position: absolute;
  top: 10%;
  right: 20%;
}
.slider-close i {
  font-size: 35px;
  /* color: var(--color1); */
  cursor: pointer;
}
.slider-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  top: 50%;
  padding: 0 50px;
}
.slider-btn i {
  font-size: 35px;
  /* color: var(--color1); */
}
@media only screen and (max-width: 740px) {
  .container {
    padding: 30px 20px;
  }
  .img-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .food-item {
    width: 100%;
    margin-bottom: 30px;
  }
  /* .menu {
            display: none;
          } */
}

/* END MENU */
